.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards{
  display: flex;  
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
}
.card-item{
  width: 200px;
  height: 100px;
  background-color: white;
  box-sizing: border-box;
  line-height: 100px;
  margin-bottom: 15px;
  text-align: center;
  display:  flex;
}
.card-icon{
  flex: 1;
  margin-top: 5px;
}
.card-info{
  flex: 2;
  display: flex;
}
.card-main-text{  
  font-size:25px;
  font-weight: bold;  
}

